<aside>
	<div class="panel radius">
		<h3>We're still moving...</h3>
		<p>
		Slowly but surely, this website will become better. We appreciate your patience in this time of
		turbulence. The original Wordpress still exists, you can find it here: <a href="http://popculturemecha.wordpress.com">Popculturemecha</a>
		</p>
	</div>

	<div class="border-dotted radius b30">
		<img src="https://popculturemecha.files.wordpress.com/2015/07/wanted-pic.png" alt="Fuka1" class="aligncenter">
		<p class="text-center">
			Fuka approves. I like starfish too.
		</p>
	</div>
</aside>